NAED data analysis

_Import libraries and packages_

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import glob

In [52]:
path = '/Users/paulraymond/Downloads/reading_data'

all_ages = glob.glob(path + "/*")

files = []

for filename in all_ages:
    df = pd.read_excel(filename)
    df.columns = df.iloc[7]
    df['Grade'] = df['Year'][0]
    files.append(df[8:])

In [55]:
data = pd.concat(files, axis=0, ignore_index=True)
data

7,Year,Jurisdiction,All students,10th percentile,25th percentile,50th percentile,75th percentile,90th percentile,Grade
0,2015,National,All students,232.607,260.879,289.424,315.352,337.305,"Reading, Grade 12, All students"
1,2015,National public,All students,231.574,259.322,287.582,313.426,335.399,"Reading, Grade 12, All students"
2,2015,National private,All students,‡,‡,‡,‡,‡,"Reading, Grade 12, All students"
3,2013,National,All students,238.676,264.463,290.5,314.651,335.268,"Reading, Grade 12, All students"
4,2013,National public,All students,237.276,263.068,289.058,313.239,333.989,"Reading, Grade 12, All students"
5,2013,National private,All students,‡,‡,‡,‡,‡,"Reading, Grade 12, All students"
6,2009,National,All students,238.002,263.972,290.646,314.798,335.318,"Reading, Grade 12, All students"
7,2009,National public,All students,236.838,262.722,289.224,313.568,334.356,"Reading, Grade 12, All students"
8,2009,National private,All students,‡,‡,‡,‡,‡,"Reading, Grade 12, All students"
9,2005,National,All students,235.306,261.936,288.174,312.676,333.06,"Reading, Grade 12, All students"
10,2005,National public,All students,234.068,260.344,286.488,311.048,331.654,"Reading, Grade 12, All students"
11,2005,National private,All students,‡,‡,‡,‡,‡,"Reading, Grade 12, All students"
12,2002,National,All students,237.454,263.302,289.136,312.494,332.496,"Reading, Grade 12, All students"
13,2002,National public,All students,235.59,261.478,287.258,310.736,330.644,"Reading, Grade 12, All students"
14,2002,National private,All students,‡,‡,‡,‡,‡,"Reading, Grade 12, All students"
15,1998,National,All students,240.102,266.75,292.934,316.76,336.246,"Reading, Grade 12, All students"
16,1998,National public,All students,238.442,265.002,291.228,315.186,335.046,"Reading, Grade 12, All students"
17,1998,National private,All students,258.326,282.262,305.046,326.24,344.59,"Reading, Grade 12, All students"
18,1998¹,National,All students,241.594,267.574,293.162,317.116,336.568,"Reading, Grade 12, All students"
19,1998¹,National public,All students,239.908,265.892,291.522,315.686,335.262,"Reading, Grade 12, All students"
20,1998¹,National private,All students,259.41,282.014,305.168,325.896,343.992,"Reading, Grade 12, All students"
21,1994¹,National,All students,238.554,264.37,289.672,313.008,332.282,"Reading, Grade 12, All students"
22,1994¹,National public,All students,236.732,262.802,288.116,311.514,331.008,"Reading, Grade 12, All students"
23,1994¹,National private,All students,259.16,280.514,303.428,323.604,341.95,"Reading, Grade 12, All students"
24,1992¹,National,All students,248.696,270.642,293.874,315.274,332.988,"Reading, Grade 12, All students"
25,1992¹,National public,All students,246.696,268.188,291.47,312.898,330.67,"Reading, Grade 12, All students"
26,1992¹,National private,All students,269.694,289.246,309.15,327.93,344.482,"Reading, Grade 12, All students"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Reading, Grade 12, All students"
28,‡ Reporting standards not met.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Reading, Grade 12, All students"
29,¹ Accommodations were not permitted for this a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Reading, Grade 12, All students"
...,...,...,...,...,...,...,...,...,...
102,2009,National private,All students,245.71,263.734,282.672,300.932,317.024,"Reading, Grade 8, All students"
103,2007,National,All students,217.402,241.87,265.356,286.7,304.74,"Reading, Grade 8, All students"
104,2007,National public,All students,215.832,240.196,263.56,284.874,302.718,"Reading, Grade 8, All students"
105,2007,National private,All students,240.844,261.9,281.954,301.722,318.41,"Reading, Grade 8, All students"
106,2005,National,All students,215.81,240.184,264.508,286.488,305.194,"Reading, Grade 8, All students"
107,2005,National public,All students,214.122,238.41,262.722,284.744,303.354,"Reading, Grade 8, All students"
108,2005,National private,All students,‡,‡,‡,‡,‡,"Reading, Grade 8, All students"
109,2003,National,All students,217.05,241.628,265.914,287.734,306.03,"Reading, Grade 8, All students"
110,2003,National public,All students,215.234,239.722,263.988,285.732,303.868,"Reading, Grade 8, All students"
111,2003,National private,All students,243.146,262.812,283.602,303.068,320.622,"Reading, Grade 8, All students"
112,2002,National,All students,220.202,243.552,266.872,287.7,305.102,"Reading, Grade 8, All students"
113,2002,National public,All students,218.668,241.994,265.284,286.114,303.388,"Reading, Grade 8, All students"
114,2002,National private,All students,242.87,262.224,281.834,300.964,317.296,"Reading, Grade 8, All students"
115,1998,National,All students,216.068,240.932,265.96,287.572,305.502,"Reading, Grade 8, All students"
116,1998,National public,All students,213.776,238.486,263.68,285.29,303.478,"Reading, Grade 8, All students"
117,1998,National private,All students,244.446,263.69,283.16,300.616,315.674,"Reading, Grade 8, All students"
118,1998¹,National,All students,217.36,241.848,266.764,288.034,305.448,"Reading, Grade 8, All students"
119,1998¹,National public,All students,214.956,239.508,264.342,285.89,303.73,"Reading, Grade 8, All students"
120,1998¹,National private,All students,245.258,263.958,283.6,300.348,314.746,"Reading, Grade 8, All students"
121,1994¹,National,All students,210.63,236.336,262.254,285.534,304.832,"Reading, Grade 8, All students"
122,1994¹,National public,All students,208.238,233.834,259.722,283.236,302.596,"Reading, Grade 8, All students"
123,1994¹,National private,All students,240.958,261.06,280.538,299.242,316.012,"Reading, Grade 8, All students"
124,1992¹,National,All students,212.518,236.522,262.138,285.068,304.516,"Reading, Grade 8, All students"
125,1992¹,National public,All students,210.616,234.52,259.9,282.998,302.304,"Reading, Grade 8, All students"
126,1992¹,National private,All students,237.078,258.18,279.652,300.066,318.138,"Reading, Grade 8, All students"
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Reading, Grade 8, All students"
128,‡ Reporting standards not met.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Reading, Grade 8, All students"
129,¹ Accommodations were not permitted for this a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Reading, Grade 8, All students"
130,NOTE: Some apparent differences between estima...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Reading, Grade 8, All students"
131,"SOURCE: U.S. Department of Education, Institut...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Reading, Grade 8, All students"

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 9 columns):
Year               129 non-null object
Jurisdiction       117 non-null object
All students       117 non-null object
10th percentile    117 non-null object
25th percentile    117 non-null object
50th percentile    117 non-null object
75th percentile    117 non-null object
90th percentile    117 non-null object
Grade              132 non-null object
dtypes: object(9)
memory usage: 9.4+ KB

In [59]:
data.isnull().sum()

7
Year                3
Jurisdiction       15
All students       15
10th percentile    15
25th percentile    15
50th percentile    15
75th percentile    15
90th percentile    15
Grade               0
dtype: int64

In [60]:
data.describe()

7,Year,Jurisdiction,All students,10th percentile,25th percentile,50th percentile,75th percentile,90th percentile,Grade
count,129,117,117,117,117,117,117,117,132
unique,22,3,1,105,105,105,105,105,3
top,2015,National private,All students,‡,‡,‡,‡,‡,"Reading, Grade 4, All students"
freq,9,39,117,13,13,13,13,13,53

In [ ]:
‡